{% extends 'base.html.twig' %}

{% block title %}MeloTunes : panier
{% endblock %}

{% block body %}
	{% if is_granted('ROLE_USER') %}
		<div class="container mt-4">
			<h1 class="text-dark">Votre panier</h1>

			{% if items is empty %}
				<div class="alert alert-info mt-3">
					<b>Votre panier est vide !</b>
				</div>
			{% else %}
				<a href="{{ path('cart_clear') }}" onclick="return confirm('Êtes-vous sûr de vouloir vider tout le panier ?');" class="btn btn-warning mb-3">
					<i class="fas fa-trash"></i>
					Vider le panier
				</a>
				<table class="table table-bordered table-striped">
					<thead class="thead-dark">
						<tr>
							<th scope="col"></th>
							<th scope="col">Produit</th>
							<th scope="col">Prix unitaire</th>
							<th scope="col">Quantité</th>
							<th scope="col">Total</th>
							<th scope="col">Actions</th>
						</tr>
					</thead>
					<tbody>
						{% for item in items %}
							<tr>
								<td>
									<img src="{{ asset('uploads/images/products/' ~ item.product.picture) }}" alt="{{ item.product.name }}" width="80" class="img-thumbnail">
								</td>
								<td>{{ item.product.name }}</td>
								<td>{{ item.product.price|number_format(2,',',' ') }}
									€</td>
								<td>
									<a href="{{ path('cart_add_cart', {'id': item.product.id}) }}" style="color: green"><i class="fas fa-plus"></i></a>
									{{ item.quantity }}
									<a href="{{ path('cart_delete', {'id': item.product.id}) }}" style="color: red"><i class="fas fa-minus"></i></a>
								</td>


								<td>{{ (item.product.price * item.quantity)|number_format(2,',',' ') }}
									€</td>
								<td>
									<a class="btn btn-danger btn-sm" onclick="return confirm('Supprimer cet élément du panier ?');" href="{{ path('cart_delete', {id: item.product.id})}}">
										<i class="fas fa-trash"></i>
										Supprimer
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4" class="text-right">
								<strong>TOTAL</strong>
							</td>
							<td colspan="2">
								<strong>{{ total|number_format(2,',',' ') }}
									€</strong>
							</td>
						</tr>
						<tr>
							<td colspan="6" class="text-right">
								<form action="/checkout" method="post">
									<button class="btn btn-primary" type="submit">Passer la commande</button>
								</form>
							</td>
						</tr>
					</tfoot>
				</table>
			{% endif %}
		</div>
	{% else %}
		<div class="alert alert-info mt-4">
			<b>Veuillez vous connecter pour accéder à votre panier.</b>
			<br>
			<a href="{{ path('app_login') }}" class="btn btn-primary">Se connecter</a>
			<a href="{{ path('app_register') }}" class="btn btn-success">S'inscrire</a>
		</div>
	{% endif %}
{% endblock %}
