{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	<div class="card mt-4">
		<div class="card-body">
			{% for flash_error in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
			{% endfor %}

			<h2 class="card-title">Inscription</h2>

			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			<div class="mb-3">
				{{ form_row(registrationForm.email, {'attr': {'class': 'form-control', 'placeholder': 'Adresse email'}}) }}
			</div>
			<div class="mb-3">
				{{ form_row(registrationForm.plainPassword, {
                        label: 'Mot de passe',
                        'attr': {'class': 'form-control', 'placeholder': 'Mot de passe'}
                    }) }}
			</div>
			<div class="mb-3">
				{{ form_row(registrationForm.prenom, {'attr': {'class': 'form-control', 'placeholder': 'Prénom'}}) }}
			</div>
			<div class="mb-3">
				{{ form_row(registrationForm.nom, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
			</div>

			<button type="submit" class="btn btn-primary">S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>
{% endblock %}
