{% extends 'base.html.twig' %}

{% block title %}Liste des produits
{% endblock %}

{% block body %}
	<h1>Liste des produits</h1>

	<table class="table table-striped">
		<a class="btn btn-success my-3" href="{{ path('app_admin_product_new') }}">Créer un nouvelle album</a>
		<thead>
			<tr>
				<th>Nom</th>
				<th>Prix</th>
				<th>Image</th>
				<th>Album</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for product in products %}
				<tr>
					<td>{{ product.name }}</td>
					<td>{{ product.price ~ ' €' }}</td>

					<td>
						{% if product.picture %}
							<img src="{{ asset('uploads/images/products/' ~ product.picture) }}" alt="Image du produit" style="max-width: 100px;">
						{% else %}
							Pas d'image
						{% endif %}
					</td>

					<td>{{ product.description }}</td>
					<td>
						<a class="btn btn-primary btn-sm" href="{{ path('app_admin_product_show', {'id': product.id}) }}">Détails</a>
						<a class="btn btn-info btn-sm" href="{{ path('app_admin_product_edit', {'id': product.id}) }}">Modifier</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun produit trouvée</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>


{% endblock %}
