{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="card mt-4">
                    <div class="card-header">
                        <h1 class="text-center">Créer une nouvelle catégorie</h1>
                    </div>
                    <div class="card-body">
                        <form method="post" action="{{ path('app_admin_category_new') }}" enctype="multipart/form-data">
                            {{ form_start(form) }}
                            <div class="form-group">
                                {{ form_label(form.name, 'Nom :') }}
                                {{ form_widget(form.name, {'attr': {'class': 'form-control', 'placeholder': 'Nom'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.description, 'Description :') }}
                                {{ form_widget(form.description, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
                            </div>
                            <div class="form-group">
                                {{ form_label(form.picture, 'Image :') }}
                                {{ form_widget(form.picture, {'attr': {'class': 'form-control'}}) }}
                            </div>
                            <button type="submit" class="btn btn-success mt-3">Créer</button>
                            {{ form_end(form) }}
                        </form>
                    </div>
                </div>
                <a href="{{ path('app_admin_category_index') }}" class="btn btn-info mt-3">Retour à la liste</a>
            </div>
        </div>
    </div>
{% endblock %}
